* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('baber.webp');
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px; 
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-field {
    position: relative;
}

.input-field i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 10px 40px; 
   border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #4cadaf;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4cadaf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a1db;
}

.signin {
    margin-top: 15px;
    text-align: center;
}

.signin a {
    color: #4cadaf;
    text-decoration: none;
}
